# Machine Learning e Data Science com Python de A à Z

# ECLAT

In [1]:
import pandas as pd

In [2]:
base_mercado1 = pd.read_csv('mercado.csv', header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [3]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [4]:
# DataFrame com valores em binário
eclat.df_bin

   manteiga  leite  feijao  cerveja  pao  arroz  cafe
0         1      1       0        1    1      0     0
1         1      0       0        0    1      0     1
2         1      0       0        0    1      0     1
3         1      1       0        0    1      0     1
4         0      0       0        1    0      0     0
5         1      0       0        0    0      0     0
6         0      0       0        0    1      0     0
7         0      0       1        0    0      0     0
8         0      0       1        0    0      1     0
9         0      0       0        0    0      1     0

In [5]:
eclat.uniq_

['manteiga', 'leite', nan, 'feijao', 'cerveja', 'pao', 'arroz', 'cafe']

In [6]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 200.54it/s]

Combination 2 by 2

3it [00:00, 158.21it/s]

Combination 3 by 3

1it [00:00, 111.41it/s]

In [7]:
indices

{'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & pao & cafe': [1, 2, 3]}

In [8]:
suporte

{'manteiga': 0.5,
 'pao': 0.5,
 'cafe': 0.3,
 'manteiga & pao': 0.4,
 'manteiga & cafe': 0.3,
 'pao & cafe': 0.3,
 'manteiga & pao & cafe': 0.3}